ActionBar
{
    background-color: rgb(255, 142, 89);
    color: white;
    margin-bottom: 10;
}

FlexboxLayout
{
    orientation: vertical;
    justify-content: center;
    align-items: flex-start;
}

Button
{
    margin-top: 20;
    width: 150;
    height: 50;
    font-weight: bold;
}